***Data Source [Suicide rate and life expectancy](https://www.kaggle.com/datasets/marshuu/suicide-rate-and-life-expectancy)***

In [2]:
#imports
import pandas as pd

In [3]:
#load the data from Excel

In [95]:
suicide_df = pd.read_csv('../data/Suicide Rate.csv')
suicide_df.head()

       Country GDP per capita  Suicide rate
0  Afghanistan          1,105          20.6
1      Albania          4,932          32.4
2      Algeria          4,534          15.6
3      Andorra         46,622          18.9
4       Angola          2,077          20.5

In [96]:
life_df = pd.read_csv('../data/Life expectancy.csv')
life_df.head()

,Country,Life Expectancy (years) - Men,Life Expectancy (years) - Women,Happiness Score,Fertility Rate (births per woman)
0,Afghanistan,60.6,68.2,3.794,4.7
1,Albania,74.8,81.3,4.959,1.7
2,Algeria,73.3,78.9,5.605,2.9
3,Andorra,81.7,84.8,6.955,1.4
4,Angola,58.1,65.6,4.105,5.3

In [97]:
#lets do some exploration and cleaning

***Dataset: Suicide Rate***

In [101]:
suicide_df.shape

(140, 3)

In [102]:
suicide_df.info() #summary of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         140 non-null    object
 1   GDP per capita  140 non-null    object
 2   Suicide rate    140 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.4+ KB

***It seems perfect as this dataset does not contains any null values***

In [103]:
suicide_df.duplicated().value_counts(dropna=False) #find the duplicate rows

False    140
dtype: int64

***No True value in the output shows dataset does not contains duplicate rows***

In [104]:
# Lets deep dive into more and validate the values present in various columns

In [105]:
suicide_df['Country'].value_counts()

Afghanistan         1
Lithuania           1
Laos                1
Latvia              1
Lebanon             1
                   ..
Costa Rica          1
Congo, Rep.         1
Congo, Dem. Rep.    1
Comoros             1
Thailand            1
Name: Country, Length: 140, dtype: int64

In [106]:
suicide_df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Spain', 'Switzerland',
       'United Kingdom', 'United States', 'Thailand'], dtype=object)

***Countries looks perfect***

In [107]:
suicide_df['GDP per capita'].value_counts()

13,931    2
2,939     2
21,140    1
2,398     1
19,945    1
         ..
10,918    1
1,856     1
764       1
1,107     1
6,792     1
Name: GDP per capita, Length: 138, dtype: int64

In [108]:
# we need to convert this field to numeric

In [109]:
suicide_df['GDP per capita']=suicide_df['GDP per capita'].apply(lambda x: (x.replace(',',''))).astype('int')

In [110]:
suicide_df['GDP per capita'].value_counts() #GDP in US Dollar

13931    2
2939     2
21140    1
2398     1
19945    1
        ..
10918    1
1856     1
764      1
1107     1
6792     1
Name: GDP per capita, Length: 138, dtype: int64

In [111]:
suicide_df['Suicide rate'].value_counts()

14.3    6
12.9    5
18.5    5
14.4    5
10.7    4
       ..
18.2    1
16.6    1
12.2    1
28.2    1
27.8    1
Name: Suicide rate, Length: 84, dtype: int64

In [112]:
#lets rename columns. I prefer camel notation
suicide_df.rename(columns={
        'GDP per capita':'gdpPerCapita',
        'Suicide rate':'suicideRate'
},inplace=True)

In [113]:
suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       140 non-null    object
 1   gdpPerCapita  140 non-null    int32
 2   suicideRate   140 non-null    float64
dtypes: float64(1), int32(1), object(1)
memory usage: 2.9+ KB

***That dataset looks perfect***

***Datatset: Life expectancy***

In [114]:
life_df.shape

(142, 5)

In [115]:
life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            142 non-null    object
 1   Life Expectancy (years) - Men      142 non-null    float64
 2   Life Expectancy (years) - Women    142 non-null    float64
 3   Happiness Score                    142 non-null    float64
 4   Fertility Rate (births per woman)  142 non-null    float64
dtypes: float64(4), object(1)
memory usage: 5.7+ KB

***It seems perfect as this datset does not contains any null values***

In [116]:
life_df.duplicated().value_counts(dropna=False) #find the duplicate rows

False    142
dtype: int64

***No True value in the output shows dataset does not contains duplicate rows***

In [117]:
life_df['Country'].value_counts()

Afghanistan         1
Liberia             1
Kuwait              1
Kyrgyz Republic     1
Laos                1
                   ..
Cote d'Ivoire       1
Costa Rica          1
Congo, Rep.         1
Congo, Dem. Rep.    1
United Kingdom      1
Name: Country, Length: 142, dtype: int64

In [118]:
life_df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Singapore', 'United Arab Emirates',
       'United States', 'United Kingdom'], dtype=object)

In [119]:
life_df['Life Expectancy (years) - Men'].value_counts()

74.4    7
82.0    4
76.5    3
74.1    3
82.5    3
       ..
79.5    1
64.7    1
70.7    1
63.2    1
79.0    1
Name: Life Expectancy (years) - Men, Length: 98, dtype: int64

In [120]:
life_df['Life Expectancy (years) - Women'].value_counts()

78.8    4
81.3    4
81.5    4
78.2    3
79.4    3
       ..
71.3    1
82.7    1
81.8    1
82.6    1
83.0    1
Name: Life Expectancy (years) - Women, Length: 102, dtype: int64

In [121]:
life_df['Happiness Score'].value_counts()

5.906    2
4.739    2
6.646    2
4.527    2
6.442    2
        ..
6.707    1
4.772    1
3.462    1
4.365    1
6.720    1
Name: Happiness Score, Length: 131, dtype: int64

In [122]:
life_df['Fertility Rate (births per woman)'].value_counts()

1.7    11
2.3    11
1.5    10
2.2     9
2.1     9
2.5     8
1.9     7
1.6     7
1.3     6
1.8     6
5.5     5
1.4     4
5.4     4
3.9     4
4.9     4
2.4     3
3.4     3
2.6     3
1.2     2
3.3     2
2.8     2
3.2     2
2.9     2
2.7     1
5.2     1
7.6     1
4.8     1
6.2     1
4.1     1
4.7     1
3.5     1
4.3     1
4.0     1
4.4     1
4.2     1
4.6     1
3.7     1
6.1     1
3.1     1
5.3     1
5.7     1
Name: Fertility Rate (births per woman), dtype: int64

In [123]:
#rename columns
life_df.rename(columns={'Life Expectancy (years) - Men':'lifeExpectancyMen', #in years
                        'Life Expectancy (years) - Women':'lifeExpectancyWomen',
                        'Happiness Score':'happinessScore',
                        'Fertility Rate (births per woman)':'fertilityRate' #births/woman
                       }, inplace=True)

In [124]:
life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              142 non-null    object
 1   lifeExpectancyMen    142 non-null    float64
 2   lifeExpectancyWomen  142 non-null    float64
 3   happinessScore       142 non-null    float64
 4   fertilityRate        142 non-null    float64
dtypes: float64(4), object(1)
memory usage: 5.7+ KB

***That dataset looks perfect***

In [125]:
# we will merge these datasets in one dataset based in country

In [126]:
suicide_life_df = pd.merge(suicide_df, life_df, on='Country',how="outer")
suicide_life_df

,Country,gdpPerCapita,suicideRate,lifeExpectancyMen,lifeExpectancyWomen,happinessScore,fertilityRate
0,Afghanistan,1105.0,20.6,60.6,68.2,3.794,4.7
1,Albania,4932.0,32.4,74.8,81.3,4.959,1.7
2,Algeria,4534.0,15.6,73.3,78.9,5.605,2.9
3,Andorra,46622.0,18.9,81.7,84.8,6.955,1.4
4,Angola,2077.0,20.5,58.1,65.6,4.105,5.3
...,...,...,...,...,...,...,...
145,Kyrgyz Republic,NaN,NaN,71.0,76.3,5.136,2.6
146,"Macedonia, FYR",NaN,NaN,75.5,80.8,5.526,1.5
147,Qatar,NaN,NaN,78.1,82.5,6.420,2.3
148,Singapore,NaN,NaN,82.5,85.9,6.710,1.2
149,United Arab Emirates,NaN,NaN,76.3,80.6,6.390,2.6

In [127]:
 suicide_life_df[suicide_life_df.isnull().any(axis=1)] #rows with null values

,Country,gdpPerCapita,suicideRate,lifeExpectancyMen,lifeExpectancyWomen,happinessScore,fertilityRate
24,Brunei Darussalam,78467.0,14.4,NaN,NaN,NaN,NaN
31,Cape Verde,3401.0,17.8,NaN,NaN,NaN,NaN
89,Kyrgyzstan,3421.0,21.5,NaN,NaN,NaN,NaN
98,Macedonia,7387.0,21.4,NaN,NaN,NaN,NaN
117,Nauru,8928.0,18.4,NaN,NaN,NaN,NaN
135,Spain,29542.0,11.5,NaN,NaN,NaN,NaN
136,Switzerland,83832.0,12.9,NaN,NaN,NaN,NaN
139,Thailand,6792.0,27.8,NaN,NaN,NaN,NaN
140,Brunei,NaN,NaN,76.2,78.7,6.298,1.6
141,Cabo Verde,NaN,NaN,74.5,80.2,5.507,2.1
142,"Korea, Dem. Rep.",NaN,NaN,70.5,76.5,4.687,2.3
143,"Korea, Rep.",NaN,NaN,81.2,87.0,5.538,1.2
144,Kosovo,NaN,NaN,74.4,80.4,5.362,1.6
145,Kyrgyz Republic,NaN,NaN,71.0,76.3,5.136,2.6
146,"Macedonia, FYR",NaN,NaN,75.5,80.8,5.526,1.5
147,Qatar,NaN,NaN,78.1,82.5,6.420,2.3
148,Singapore,NaN,NaN,82.5,85.9,6.710,1.2
149,United Arab Emirates,NaN,NaN,76.3,80.6,6.390,2.6

***We can see that some country names are mispelled that is the reason they fail to merge. lets fix this***

In [128]:
suicide_df['Country'].replace(['Brunei Darussalam'], ['Brunei'],inplace=True)

In [129]:
life_df['Country'].replace([ 'Cabo Verde','Kyrgyz Republic', 'Macedonia, FYR'], ['Cape Verde','Kyrgyzstan', 'Macedonia'],inplace=True)

In [130]:
suicide_life_df = pd.merge(suicide_df, life_df, on='Country',how="outer")
suicide_life_df

,Country,gdpPerCapita,suicideRate,lifeExpectancyMen,lifeExpectancyWomen,happinessScore,fertilityRate
0,Afghanistan,1105.0,20.6,60.6,68.2,3.794,4.7
1,Albania,4932.0,32.4,74.8,81.3,4.959,1.7
2,Algeria,4534.0,15.6,73.3,78.9,5.605,2.9
3,Andorra,46622.0,18.9,81.7,84.8,6.955,1.4
4,Angola,2077.0,20.5,58.1,65.6,4.105,5.3
...,...,...,...,...,...,...,...
141,"Korea, Rep.",NaN,NaN,81.2,87.0,5.538,1.2
142,Kosovo,NaN,NaN,74.4,80.4,5.362,1.6
143,Qatar,NaN,NaN,78.1,82.5,6.420,2.3
144,Singapore,NaN,NaN,82.5,85.9,6.710,1.2
145,United Arab Emirates,NaN,NaN,76.3,80.6,6.390,2.6

In [131]:
suicide_life_df[suicide_life_df.isnull().any(axis=1)] #rows with null values

,Country,gdpPerCapita,suicideRate,lifeExpectancyMen,lifeExpectancyWomen,happinessScore,fertilityRate
117,Nauru,8928.0,18.4,NaN,NaN,NaN,NaN
135,Spain,29542.0,11.5,NaN,NaN,NaN,NaN
136,Switzerland,83832.0,12.9,NaN,NaN,NaN,NaN
139,Thailand,6792.0,27.8,NaN,NaN,NaN,NaN
140,"Korea, Dem. Rep.",NaN,NaN,70.5,76.5,4.687,2.3
141,"Korea, Rep.",NaN,NaN,81.2,87.0,5.538,1.2
142,Kosovo,NaN,NaN,74.4,80.4,5.362,1.6
143,Qatar,NaN,NaN,78.1,82.5,6.420,2.3
144,Singapore,NaN,NaN,82.5,85.9,6.710,1.2
145,United Arab Emirates,NaN,NaN,76.3,80.6,6.390,2.6

***Drop the rows containing NUll as we are interested in the countries in both the datasets***

In [132]:
suicide_life_df.dropna(inplace=True)

In [133]:
suicide_life_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 138
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              136 non-null    object
 1   gdpPerCapita         136 non-null    float64
 2   suicideRate          136 non-null    float64
 3   lifeExpectancyMen    136 non-null    float64
 4   lifeExpectancyWomen  136 non-null    float64
 5   happinessScore       136 non-null    float64
 6   fertilityRate        136 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.5+ KB

In [134]:
# Lets save this cleaned data into csv file
suicide_life_df.to_csv('../data/suicide_life_df.csv', index=False)