***Data Source [Woman Harassment Dataset 2001-21 | Bangladesh](https://www.kaggle.com/datasets/azminetoushikwasi/woman-harassment-dataset-200121-bangladesh?select=Stalking_2011-2021.csv)***

In [4]:
#imports
import pandas as pd

In [5]:
#load the data from Excel

In [9]:
data = pd.read_csv('../data/heart_attack_dataset.csv')
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [12]:
#lets do some exploration and cleaning

In [14]:
data.shape

(8763, 26)

In [11]:
data.info() #summary of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

***It seems perfect as this datset does not contains any null values***

In [18]:
data.duplicated().value_counts(dropna=False) #find the duplicate rows

False    8763
dtype: int64

***No True value in the output shows dataset does not contains duplicate rows***

In [15]:
# Lets deep dive into more and validate the values present in various columns

In [32]:
data['Age'].value_counts()

90    152
42    150
33    147
59    147
29    137
     ...
75    102
72    101
39    100
47     99
51     82
Name: Age, Length: 73, dtype: int64

In [33]:
data['Sex'].value_counts()

Male      6111
Female    2652
Name: Sex, dtype: int64

In [34]:
data['Family History'].value_counts()

0    4443
1    4320
Name: Family History, dtype: int64

In [35]:
data['Smoking'].value_counts()

1    7859
0     904
Name: Smoking, dtype: int64

In [37]:
data['Country'].value_counts()

Germany           477
Argentina         471
Brazil            462
United Kingdom    457
Australia         449
Nigeria           448
France            446
Canada            440
China             436
New Zealand       435
Japan             433
Italy             431
Spain             430
Colombia          429
Thailand          428
South Africa      425
Vietnam           425
United States     420
India             412
South Korea       409
Name: Country, dtype: int64

In [38]:
data['Continent'].value_counts()

Asia             2543
Europe           2241
South America    1362
Australia         884
Africa            873
North America     860
Name: Continent, dtype: int64

In [39]:
data['Hemisphere'].value_counts()

Northern Hemisphere    5660
Southern Hemisphere    3103
Name: Hemisphere, dtype: int64

In [40]:
data['Heart Attack Risk'].value_counts()

0    5624
1    3139
Name: Heart Attack Risk, dtype: int64

***From the above output we have discovered that out dataset is clean***

In [41]:
#Rename the column names as it contains spaces

In [42]:
data.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [43]:
data.rename(columns={
    'Patient ID':'patient_id',
    'Age':'age',
    'Sex':'sex',
    'Cholesterol':'cholesterol',
    'Blood Pressure':'blood_pressure',
    'Heart Rate':'heart_rate',
    'Diabetes':'diabetes',
    'Family History':'family_history',
    'Smoking':'smoking',
    'Obesity':'obesity',
    'Alcohol Consumption':'alcohol_consumption',
    'Exercise Hours Per Week':'exercise_hours_per_week',
    'Diet':'diet',
    'Previous Heart Problems':'previous_heart_problems',
    'Medication Use':'medication_use',
    'Stress Level':'stress_level',
    'Sedentary Hours Per Day':'sedentary_hours_per_day',
    'Income':'income',
    'BMI':'bmi',
    'Triglycerides':'triglycerides',
    'Physical Activity Days Per Week':'physical_activity_days_per_week',
    'Sleep Hours Per Day':'sleep_hours_per_day',
    'Country':'country',
    'Continent':'continent',
    'Hemisphere':'hemisphere',
    'Heart Attack Risk':'heart_attack_risk'
},inplace=True)

In [44]:
data.columns

Index(['patient_id', 'age', 'sex', 'cholesterol', 'blood_pressure',
       'heart_rate', 'diabetes', 'family_history', 'smoking', 'obesity',
       'alcohol_consumption', 'exercise_hours_per_week', 'diet',
       'previous_heart_problems', 'medication_use', 'stress_level',
       'sedentary_hours_per_day', 'income', 'bmi', 'triglycerides',
       'physical_activity_days_per_week', 'sleep_hours_per_day', 'country',
       'continent', 'hemisphere', 'heart_attack_risk'],
      dtype='object')

In [45]:
#lets save this in excel file

In [46]:
data.to_excel('../data/heart_attack_dataset.xlsx',sheet_name='heart_attack_dataset')